
.header {
    display: flex;
    margin: 0px;
    padding: 0px;
    background-color: blue;
    color: white;
    align-items: center;
    justify-content: center;
    max-height: 125px;
}

.searchBtn {
    border-radius: 5px;
}

.layout {
    display: grid;
    grid-template-columns: .5fr 2fr;
    gap: 10px;
    margin-right: 20px;
    margin-top: 20px;
}

.searchArea {
    grid-column: 1/-1;
    grid-row: 1/2;
    height: 250px;
    margin-left: 20px;
}

.overviewCard {
    /* display: flex; */
    grid-column: 2/3;
    grid-row: 1/2;
    border: 1px solid black;
    padding: 10px;
    max-width: 950px;
}

.forecastHeader {
    display: flex;
    align-content: flex-start;
}

.forecast {
    justify-content: space-around;
    grid-column: 2/3;
    grid-row: 2/2;
    height: auto;
    max-width: 950px;
}

.searchBox {
    width: 200px;
}

.cards {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 950px;
}

.forecastCard {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px;
    height: 225px;
    min-width: 15%;
    background-color: rgb(46, 46, 138);
    border: 1px solid black;
    border-radius: 2px;
    color: white;
    padding: 5px;
    list-style-type: none;
}

.cardItems {
    margin-left: -40px;
}

.hidden {
    display: none;
}