
.header {
    display: flex;
    margin: 0px;
    padding: 0px;
    background-color: blue;
    color: white;
    align-items: center;
    justify-content: center;
    max-height: 125px;
}

.searchBtn {
    border-radius: 5px;
}

.layout {
    display: grid;
    grid-template-columns: .5fr 2fr;
    gap: 10px;
    grid-template-rows: 2, 1fr;
    margin-right: 20px;
    margin-top: 20px;
}

.searchArea {
    grid-column: 1;
    grid-row: 1/2;
    height: 300px;
    margin-left: 20px;
}

.overviewCard {
    grid-column: 2/3;
    grid-row: 1/2;
    border: 1px solid black;
    padding: 10px;
}

.forecastHeader {
    display: flex;
    align-content: flex-start;
}

.forecast {
    justify-content: space-around;
    grid-column: 2/3;
    grid-row: 2/2;
    height: auto;
}

.cards {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.forecastCard {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
    height: 225px;
    width: 200px;
    background-color: blue;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    padding: 5px;
}